<h1>Produtos do E-Commerce PC</h1>

<a href="/produtos/add" function="button">Adicionar</a>

{{#if produtos.length}}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Categoria</th>
                <th scope="col">Preço</th>
            </tr>
        </thead>
        <tbody>
            {{#each produtos}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.nome}}</td>
                    <td>{{this.descricao}}</td>
                    <td>{{this.categoria_id}}</td>
                    <td>{{this.preco}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>Sem produtos disponíveis no momento.</p>
{{/if}}

{{!
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Primeiro</th>
                <th scope="col">Último</th>
                <th scope="col">Nickname</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
}}

{{!
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Título especial</h5>
        <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
        <a href="#" class="btn btn-primary">Visitar</a>
    </div>
    </div>
}}